.main-headphones-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.main-headphones-carousel__slide img {
    height: 206px;
    max-width: 206px;
}

.main-headphones-carousel__button {
    width: 36px;
    height: 48px;
    border-radius: 50%;
}
.back {
    position: absolute;
    top: 43%;
    left: 6%;
}

.forward {
    position: absolute;
    justify-content: center;
    top: 43%;
    left: 92%;
}

.main-headphones-carousel__slide {
    display: flex;
}