@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.main-headphones-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.main-headphones-carousel__slide img {
    height: 206px;
    max-width: 206px;
}

.main-headphones-carousel__button {
    position: absolute;
    justify-content: center;
    background-color: gray;
    color:white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    border-radius: 50%;
    padding: 0px 18px 5px 18px;
    
}

.back {
    top: 43%;
    left: 3%;
}

.forward {
    top: 43%;
    left: 95%;
}

.main-headphones-carousel__slide {
    display: flex;
}

@media (min-width: 1200px) {
    .main-headphones-carousel__button {
        background-color: transparent;
        font-size: 50px;
        color: black;
    }
}




