.div_music_colomb {
    background-image: url(../img/music-colomb/background_for_music_colomb.svg);
    background-color: rgb(255, 94, 0); 
    color: white; 
    padding: 50px;
    font-family: Heebo,sans-serif;
    display: grid;
    grid-template-columns: 4fr 6fr;
}
.div_text {
    margin: 20px auto;
}
.button_buy_now {
    background-color: rgb(64, 67, 224); 
    color: white; 
    padding: 20px 35px;
    font-size: 15px;
}
.button_buy_now:hover {
    background-color: rgb(20, 20, 20);
}
.button_more_models {
    background-color: rgb(20, 20, 20); 
    color: white; 
    padding: 20px 35px;
    font-size: 15px;
}
.button_more_models:hover {
    background-color: rgb(64, 67, 224);
}
.h2_jbl_speaker {
    font-size: 40px;
    white-space: nowrap;
    margin: 40px auto;
}
.bold_title {
    font-size: 24px;
}
.normal_text {
    font-size: 18px;
    color: rgb(233, 223, 223);
    margin-bottom: 2em;
}
.price {
    margin: 50px auto;   
}
.price_large {
    font-size: 36px;
}
.img_music-colomb {
    display:flex;
    justify-content:center; 
    align-items:center;
}